body {
  background-color: #007d17;
}

.handCard {
  width: 80px;
  margin-right: -20px;
}
.handCardButton {
  border: none;
  background-color: transparent;
}
.handCardImage {
  width: 80px;
  margin-right: -30px;
  transition: transform 0.5s ease;
}

.slide-up {
  transform: translateY(-20px);
}

.cribCard {
  width: 80px;
}

.blankCribCard {
  width: 80px;
  height: 115px;
  margin-bottom: -1.5px;
}

.deckCard {
  width: 80px;
  margin-right: -77px;
}

#hands {
  margin-top: 0px;
  columns: 2;
}
#scores{
  columns: 2;
}

#deck {
  margin: 10px;
}

#player1h1 {
  margin-top: 0px;
  margin-left: 10px;
}

#player2h1 {
  margin-top: 0px;
  margin-left: 10px;
}

.deckAndCrib {
  columns: 2;
}

.playerRow {
  columns: 2;
}

.scoreButton {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 10px;
  width: 105px;
  padding: 0;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.scoreButton:hover {
  background-color: #fff;
}

.scoreButton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .scoreButton {
    /* min-width: 120px; */
    padding: 0 25px;
  }
}

#oneMinus {
  margin-left: 105px;
}

#twoMinus {
  margin-left: 105px;
}

#player1hand {
  width: 450px;
}
#player2hand {
  width: 450px;
}

#winGif {
  width: 100%;
}

#winH1 {
  text-align: center;
  margin-top: -400px;
  font-size: 100px;
  text-shadow: white 1px 0 10px;
}

#playAgainButton {
margin-left: auto;
margin-right: auto;
font-size: 30px;
height: 50px;
width: 300px;
}

#playAgainButtonDiv {
  display: flex;
  justify-content: center;
}